header{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);

}

.thme-color{
    color: #3d4152;

}

 
.m-shift{
    width: 80%;
    margin: 0 auto;
}

.hover-orange:hover{
    color: #f66e14;
    border-color: #f66e14!important;
   }

.sub-custom{
    left: -10px!important;
position: relative;
font-size: 12px!important;
}
.offcanvas-size-xl.offcanvas{
    width: 40%;
    --bs-offcanvas-width:40%;
}
.form-control::placeholder
 { 
    font-weight: 700;
}

.form-control:-ms-input-placeholder
 { 
    font-weight: 700;
}

.form-control::-ms-input-placeholder
 { 
    font-weight: 700;
}
.form-control:focus

{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    outline: 0;
    border-color: #ccc;
}
.button:focus
    {
        box-shadow: 0 15px 40px -20px rgba(216, 220, 239, 0.15);
        outline: 5;
        border-color: #f5efef;
    }
    



.for-gps{
    font-size: .80rem;
    position: relative;
    left: -25px;
}
.row{
    display: flex;
   flex-wrap: wrap;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
   
  }
  .row {
    margin: left -12px;;
    margin-right: 0;
  
  }
  .bd-footer{
    background-color: black;
    color: #f5efef;
  }